
%h1{
	font-size: 1.6rem;
	@include color('red');
	margin-bottom: 40px;
}

//inner page	
.right_content{
	padding-left: 80px;
	padding-bottom: 40px;
	min-height: 33.5vh;

}
h1{
	text-transform: uppercase;
	@extend %h1;
}
p:not(.secondary_phone,.primary_phone),.content_ol li{
	margin-bottom: 20px;
}
p.head{
	padding-top: 20px;
	font-weight: bold;
}

.category {
	.right_content{
		padding-left: 85px;
	}
}
.category-colored .breadcrumb {
	padding-right: 0;
}
	
//calendar
.gallery{
	h1{
		text-transform: none;
		@extend %h1;
	}
	img{
		display: inline-block;
		width: 45%;
	}
	img+img{
		margin: 0 0 0 40px;
	}
}

// Portfolio
.colored_item{
	position: relative;
	margin-top: 30px;
	height: 200px;
	display: block;
	overflow: hidden;
	border: 1px solid #ccc;

	&:hover{
		.colored_item_caption{
			bottom: 0;
		}
	}
}

.colored_item_img{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.colored_item_caption{
	position: absolute;
	bottom: -100%;
	text-align: center;
	width: 100%;
	background: rgba(0,0,0,0.8);
	color: #fff;
	padding: 10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}


.category-calendar{
	h1{
		text-transform: uppercase;
		@extend %h1;
	}
	.calendar_item{
		margin-bottom: 40px;
		height: 500px;
		overflow: hidden;
		border: 1px solid #aeaeae;

		.calendar_img{
			@include transition(.5s); 

			&:hover{
				filter: contrast(1.25);
			}
			background-size: cover;
			background-position: 50% 0;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			width: 100%;
			height: 336px;
		}

		.item_caption{
			padding: 20px;
			p{
				margin-bottom: 0;
			}
			h2, .date{
				margin: 0;
				font-size: 1.1rem;
				text-transform: uppercase;
				font-weight: bold;
			}
			h2{
				padding-bottom: 20px;
			}
			a{
				@include color('red');
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.right{
		margin-left: 65px;
	}
}
.pagination_container{
	text-align: center;
}
.pagination{
	.page-numbers{
		padding: 5px 10px;
		color: #000;
		border-radius: 20px;
		border: 1px solid #fff;

		&:hover{
			border: 1px solid #4a4949;
		}
	}
	.current{
		border: 1px solid #4a4949;
		background-color: #4a4949;
		color: #fff;
	}	
}
.contacts_left, .contacts_right{
	position: relative;
	overflow-x: hidden;
	.text{
		height: 800px;
	}
}
.contacts_left{
	h1{
		padding-top: 75px;
	}

	.text{
		padding-left: 27%;
	}	
	#map{
		width: 50%;
		height: 100%;
		position: absolute;	
		top: 0;
		right: 0;
	}
}

.contacts_right{
	.text{
	    padding-right: 23.5%;
		padding-top: 100px;
		text-align: right;
	}
	#map_store{
		width: 50%;
		height: 100%;
		position: absolute;	
		bottom: 0;
		left: 0;
	}
}
.more-link{
	@include color('red');
	display: inline-block;
	margin-top: 5px;
}
.container-big{
	padding-bottom: 40px;
}
.breadcrumb{
	padding-right: 65px;
	text-align: left;
}
@media screen and ( max-width: 900px ) {
	.breadcrumb, h1,.right_content,.colored_item {
		text-align: center;
	}
	.category .right_content{
		padding-left: 0;
	}
	.colored_item .colored_item_img{
		display: inline-block;
	}
}
.cat-item-none{
	display: none;
}
.item h2{
	font-size: 1.3em;
	@include transition(.5s); 
	&:hover{
		@include color('red');
	}
}
.category-calendar .breadcrumb, .single .breadcrumb{
	padding-right: 0;
}
.upload{
	text-transform: uppercase;
    font-weight: bold;
}
.upload_files{
	margin: 20px 0;
	border-top: 1px dashed;
	border-bottom: 1px dashed;
	p{
		padding: 10px 0;
		a{
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABvUlEQVQ4T63VPUgcQRQH8Pd/o4mdkE4CxibkRMjeuaTTZO84EHvLFNqIJnYGbFVQCakixjJYqK2oxTXGvXBc4cepJylyYCMIWhtEPJ15YUXDGvZud0O2WZg3+3szb96woLtHsp3tRmOUiBruxx68hS6ZeAL5nbPA+N0g7oM6bS9ytWkYxeKvoA8kYz0VUnO4xjsUSqe1UD+4oNxSf73s0m23SKPM10NjgV6yMDQ2GIb+E1gPDQWlp+MJVRtGqOniI3JHV/4aB20/HHSsLgMaZFGTyO8d/X1oHmoaaVptlga8WAQw2WY0bbC5TKFYCWwpnbb/dEgo6GXVb6yK+l5+UaulYoGStVtN9WablQzCPVwLQmOBOm3NsuCrkMxA6TF8+3Eo48QYJ+O7ZdG2LE6yTYQ+g2XVCL0CmYQIdUKoIMw/Vb784bYkUWoor5PPBXoO4BVizmFz//i2/zKpZ2RMLwHncA+WI4HivOwTgyEwXOQPpurd70igcax1ITphp/zeX6v/csphq4u0wiiIf07woWRSS/z40TByW+dxQMnazUbTF+WW3j64euLYCQPy2iD4F1A7yw0TPsHdrXhTfgO2MBwkW2TnEQAAAABJRU5ErkJggg==) no-repeat 0 50%;
			line-height:26px;
			padding-left: 30px;
			display: inline-block;

			&:hover{
				@include color('red');
			}
		}
	}
}


.readmore{
	margin-bottom: 15px;
	display: inline-block;
	color: map_get($color, red);
}